//===============================================================================
// STYLES
//===============================================================================
@import "variables.scss";

.page-wrap {
	width: 100%;
	height: 100%;
	padding: 20px;
}

.dog-opt-wrap {
	width: 100%;
	border-bottom: 1px solid $col1;
	display: block;
}

.options-row {
	width: 100%;
	display: inline-block;
	border-bottom: 1px solid $col2;

	&:last-of-type { border-bottom: none;	}

	h3 {
		margin: 5px 0 4px 0;
		color: $col1;
		font-weight: 100;
		font-size: 16px;
	}
}

.btn-type-select {
	float: left;
	padding: 5px 10px;
	margin: 0 5px 5px 0;
	background-color: $col3;
	border-top: 3px solid $col1;
	color: $col5;
	
	&:hover {
		color: white;
		border-top: 3px solid $col3;
	}

	&.js-btn-off {
		border-top: 3px solid $col3;
		opacity: 0.5;
	}

	&:focus {
		outline: none;
	}

	&.js-btn-off:hover {
		border-top: 3px solid $col3;
		color: white;
	}
}

.dog-breed-wrap {
	margin-top: 5px;
	width: 100%;

	display: flex;
	flex-flow: row wrap;
	justify-content: flex-start;
	align-items: flex-start;
}

.dog-breed-item {
	// float: left;
	background-color: $col1;
	color: $col4;
	text-align: center;
	// padding: 5px 10px;
	padding: 5px 10px 50px 10px;
	width: 24%;
	transition: all 0.3s ease;
	// margin: 0 5px 5px 0;
	margin: 0 .5% 1% .5%;
	
	flex-basis: auto;
	
	&:hover {
		padding: 5px 10px 150px 10px;
	}
}
