//===============================================================================
// VARIABLES
//===============================================================================
$paper:  white;
$ink:    black;
$col1: #A5B3AA;
$col2: #FEFEEB;
$col3: #0CA5B0;
$col4: #F8F4E4;
$col5: #F8F4E4;